@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

.weather-container {
    position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 100px;
}

.weather-container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("../../assets/bg2.jpeg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}

.form-section{
    width: 1050px;
    height: 85vh;
	display: grid;
	grid-template-columns: 2fr 3fr;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background-size: cover;
    height: 100%;
    width: 100%;
}
.carousel .carousel-item {
    height: 100%;
    width: 100%;
}

.carousel .carousel-item img{
    position: relative;
    height: 85vh;
    width: 100%;
}

.right{
    background-color: rgb(9, 7, 31);
    height: 100%;
    padding: 25px 10px 0 50px;
    width: 100%;
}

.inputs {
    display: flex;
    color: snow;
    width: 100%;
}

.form-row {
    display: flex;
    margin-left: 15px;
}

#city-name {
    width: 150px;
    margin-top: 8px;
    text-transform: capitalize;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ff4500;
    border-radius: 0;
    font-size: 1.3em;
    color: rgb(201, 192, 192);
}

#city-name:focus {
    outline: 0;
    border-bottom: 2px solid white;
    transition: linear .5s;
}

#country-id {
    width: 60px;
    text-align: center;
    margin-top: 8px;
    text-transform: lowercase;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ff4500;
    border-radius: 0;
    font-size: 1.3em;
    color: rgb(201, 192, 192);
}

#country-id:focus {
    outline: 0;
    border-bottom: 2px solid white;
    transition: ease-in-out .5s;
}

.btn-consult {
    outline: 0;
    border: none;
    font-family: 'Baloo Paaji 2', cursive ;
    font-size: 1.1em;
    color: snow;
    border-radius: 3px;
    margin-left: 30px;
    background-color: orangered;
    height: 48px;
    width: 95px;
}

.weather-data {
    display: grid;
    justify-items: center;
    padding-top: 10px;
    height: 200px;
    color: rgb(255, 255, 255);
}

.data-group {
    display: flex;
    justify-content:center;
    padding: 5px;
}

.data-group p {
    margin-left: 5px;
}

.city_country {
    width: 50%;
    margin: 0 auto;
    color: #fff;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}

#temp {
    color: #ff4500;
    font-size: 2.2em;
    font-family: 'Poppins', sans-serif;
}

#datetime {
    font-family: 'Poppins', sans-serif;
    font-style: none !important;
    font-size: .85em; 
}

/*Media querys*/
@media screen and (max-width: 1024px){

    .form-section {
        margin-top: -10%;
        height: 80vh;
    }

    .right {
        padding-top: 100px;
    }

    .inputs {
        margin-left: -5%;
    }

    #city-name{
        width: 100px;
        font-size: medium;
    }

    #country-id{
        width: 40px;
        font-size: medium;
    }

    .btn-consult {
        font-size: 1em;
        margin: 5px 0 0 20px;
        width: 70px;
        height: 35px;
    }
}

@media screen and (max-width: 720px){
	.form-section{
        grid-template-columns: 1fr;
        width: 200px;
    }
    
	.carousel .carousel-item img{
        height: 250px;
    }

    .right{
        background-color: rgb(9, 7, 31);
        height: 120vh;
        padding-top: 100px;
    }

    .inputs {
        margin-left: 10%;
    }

    #city-name{
        width: 95px;
        font-size: medium;
    }

    #country-id{
        width: 40px;
        font-size: medium;
    }

    .btn-consult {
        font-size: 1em;
        margin: 5px 0 0 20px;
        width: 70px;
        height: 35px;
    }
}

@media screen and (max-width: 600px){

    .form-section{
       margin-top: -110px;
       height: 95vh;
    }

    .right {
        height: 100vh;
        padding: 30px;
    }

    .inputs {
        margin-left: 0px;
        width: 320px;
    }

    .btn-consult {
        margin-top: 1px;
        width: auto;
        height: 32px;
    }

    .form-row {
        width: 230px;
        margin-left: -10px;
    }

    #city-name{
        width: 70px;
        font-size: .9em;
        margin-top: 10px;
        margin-left: -20px;
    }

    #country-id{
        width: 30px;
        font-size: .9em;
        margin-left: -10px;
    }

    .form-label{
        font-size: 1em;
    }

    .data-group p, .data-group span  {
        font-size: 1em;
    }

    .weather-data h2, .weather-data h1 {
        font-size: 1.3em;
    }

    .weather-data p{
        font-size: 1em;
    }
}

@media screen and (max-width: 320px){
    .inputs {
        margin-left: 30px;
    }

    .data-group p, .data-group span  {
        font-size: 1em;
    }

    .weather-data h2, .weather-data h1 {
        font-size: 1.3em;
    }

    .weather-data p{
        font-size: 1em;
    }
}

@media screen and (max-width: 320px){
    .form-section {
        padding-left: -100px;
    }
}